<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MagenicMaqs" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <MagenicMaqs>

<!-- Database specific settings-->
    <!-- Database connection -->
    <add key="DataBaseConnectionString" value="Data Source=104.197.42.176;Initial Catalog=ReportServer;Persist Security Info=True;User ID=Sa;Password=M@genicons" />
<!-- Database specific settings end -->

<!-- Web service specific settings -->
    <!-- Web service root -->
    <add key="WebServiceUri" value="http://104.197.196.210/" />
<!-- Web service specific settings end -->

<!-- Web site specific settings -->
    <!-- Root to website -->
    <add key="BaseUrl" value="http://104.197.196.210/" />
    <add key="WebSiteBase" value="http://magenicons%5Cgcptester:M%40genicons@104.197.196.210" />

    <!--Local browser settings
    <add key="Browser" value="Chrome"/>
    <add key="Browser" value="Internet Explorer"/>
    <add key="Browser" value="Firefox"/>
    <add key="Browser" value="PhantomJS"/>
    <add key="Browser" value="Edge"/> -->
    <add key="Browser" value="Chrome" />

    <!-- Web driver hint path override - This is the first place Maqs will try to find your web drive
    <add key="WebDriverHintPath" value="C:\Frameworks"/> -->

    <!-- Remote browser settings
    <add key="Browser" value="REMOTE"/>
    <add key="RemoteBrowser" value="Firefox"/>  -->
    <add key="HubUrl" value="http://ondemand.saucelabs.com:80/wd/hub"/>
    <add key="sauceName" value="Partner_Magenic" />
    <add key="accessKey" value="" />

    <!-- Extended remote browser settings - OS (xp, win7, win8, win8.1, win10, os x, os x 10.6, os x 10.8, os x 10.9, os x 10.10, os x 10.11, solaris, linux, android, +more)
    <add key="RemotePlatform" value="win7"/>-->

    <!-- Extended remote browser settings - Browser version
    <add key="RemoteBrowserVersion" value="44"/>-->
<!-- Web site specific settings end -->

<!--General settings-->
    <!-- Wait time in milliseconds - AKA how long do you wait for rechecking something -->    
    <add key="WaitTime" value="1000" />
	
    <!-- Time-out in milliseconds seconds -->   
    <add key="Timeout" value="3000" />
	
    <!-- Do you want to create logs for your tests
    <add key="Log" value="YES"/>
    <add key="Log" value="NO"/>
    <add key="Log" value="OnFail"/>-->   
    <add key="Log" value="OnFail" />

    <!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="RTF"/>-->
    <add key="LogType" value="TXT" />

	<!--Logging Levels - Defaults to Generic
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->

    <!-- Log file path - Defaults to build location if no value is defined
    <add key="FileLoggerPath" value="C:\Frameworks\"/>-->

  </MagenicMaqs>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>