@{
    ViewBag.Title = "About";
}
<h2 class="page-title">@ViewBag.Title.</h2>

<h3>
    This system is a fictitious application built to demonstrate how enterprises can leverage Google Cloud Platform (GCP) to host internal Line-of-Business application in the Cloud.
    <br />
    <br />
    This system also showcases how popular authentication scheme, such as Microsoft Active Directory, can be maintained behind a corporate data center while the system is Internet facing. 
</h3>

