@{
    ViewBag.Title = "Contact";
}
<h2 class="page-title">@ViewBag.Title.</h2>
<h3>Magenicons</h3>

<address>
    123 Main Street<br />
    New York, NY 45678<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@magenicons.com">Admin@magenicons.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@magenicons.com">Marketing@magenicons.com</a>
</address>